@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FailWhale</title>
</head>
<body style="background-color: azure;">
    <div>
        Sorry, something went wrong and we will work to fix it.

        There are no fail whales here, this ain't twitter.
    </div>
</body>
</html>
