<div id="PanelsBar">

    <img src="~/Content/Images/border/facebook.png" class="panel" id="facebook"/>
    <img src="~/Content/Images/border/instagram.png" class="panel" id="instagram"/>
    <img src="~/Content/Images/border/rss.png" class="panel" id="rss"/>
    <img src="~/Content/Images/border/twitter.png" class="panel"/ id="twitter">
    <img src="~/Content/Images/border/youtube.png" class="panel" id="youtube"/>

</div>