@{
    ViewBag.Title = "bloGrid";
}

<div id="container">

    @RenderPage("_LoginBar.cshtml")


    @{
        if (ViewBag.Logged == true)
        {
            @RenderPage("_PanelBar.cshtml")
        }
    }

    @RenderPage("_Content.cshtml")
    @RenderPage("_Footer.cshtml")

</div>
